@font-face {
    font-family: digital;
    src: url(../font/digital-7.ttf);
}

@font-face {
    font-family: lionKing;
    src: url(../font/lion_king.ttf);
}

body {
	background-color: rgb(10, 10, 10); /* black(ish) */
}

#ttt-container {
	text-align: center;
}

#ttt-header {
	font-family: lionKing;
	color: rgb(240, 240, 240); /* white(ish) */
}

.win-loss-tie {
	font-family: digital;
	color: rgb(240, 240, 240); /* white(ish) */
}

.form-group > label {
	color: rgb(240, 240, 240); /* white(ish) */
}

#btn_newMatch {
	width: 100%;
	margin-bottom: 1em;
}

.ttt-square {
	background-color: rgb(240, 240, 240); /* white(ish) */
	border-style: solid;
	border-color: black;
}

.ttt-hover-square {
	background-color: rgb(66,139,202); /* light blue */
}

.ttt-win {
	background-color: rgb(168, 255, 185); /* light green */
}

/*==========  Mobile First Method  ==========*/

/* Extra Small Mobile Devices */ 
@media only screen and (min-width : 320px) {
	#ttt-container {
		margin-top: 5%;
	}

	#ttt-header {
		font-size: 2.25em;
	}

	.win-loss-tie {
		font-size: 1.75em;
		margin-bottom: 0.25em;
	}
	
	.form-group > label {
		font-size: 0.9em;
	}
	
	.ttt-square {
		height: 3.75em;
	}

	.ttt-square-contents {
		font-size: 2.5em;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#ttt-container {
		margin-top: 5%;
	}

	#ttt-header {
		font-size: 5em;
	}

	.win-loss-tie {
		font-size: 3em;
		margin-bottom: 0.25em;
	}
	
	.form-group > label {
		font-size: 1.5em;
	}
	
	.ttt-square {
		height: 10em;
	}

	.ttt-square-contents {
		font-size: 7em;
	}
}

/* Medium Devices, Desktops - No minimum height */
@media only screen and (min-width : 972px){
	#ttt-container {
		margin-top: 2.5%;
	}

	#ttt-header {
		font-size: 4em;
	}

	.win-loss-tie {
		font-size: 2.5em;
		margin-bottom: 0.25em;
	}
	
	.form-group > label {
		font-size: 1.5em;
	}
	
	.ttt-square {
		height: 8em;
	}

	.ttt-square-contents {
		font-size: 6em;
	}
}